.contenedor-tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-tarjeta .tarjeta {
    background-color: #414865;
    width: 144px;
    height: 186px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}